{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-9">
        <div class="card h-100">
            <img class="card-img-top img-fluid" src="{{ asset('images/main/admin_home_pic.jpg') }}" alt="Home">
            <div class="card-body">
                <h3 class="card-title">Welcome Admin!</h3>
                <p>
                    Here is the place where you can add, delete or edit some products.
                    <br>
                    You can see the full order list too.
                    <br>
                    Enjoy!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
